@import "tailwindcss";
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

:root {
  --background: #f6f8fa;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  /* background-image: url('../../public/background/3414.jpg');
  background-repeat: repeat;
  background-size: auto;  */
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}